@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
body,html,main{
        background-color: initial;
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        width: 100vw;
        height: 100vh;

}
    main{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: none;
}
section{
    border-radius: 0em 1em 1em 0em;
    width: 60vw;
    height: 18em;
    text-align: center;
}
img,#img{
    border-radius: 1em 0em 0em 1em;
    height: 18.1em;
    margin-top: -1.5px;
}   
#both{
    display: flex;
    align-items: center;
    justify-items: center;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.575);
    border-radius: 1em;
}
#entrar,#senha{
    width: 90%;
    border-radius: 3em;
}
#entrar{
    margin-top: -10px;
}
input{
    display: block;
    width: 94%;
    background-color:#94cfcd;
    height: 2.8em;
    border-radius: 1em;
    margin-top: -0.5px;
    border: none;
}
#e-mail{
    margin-top: 20px;
}
h2{
    color: rgba(0, 0, 0, 0.699);
}
p{
    color: rgba(32, 30, 30, 0.973);
    text-align: initial;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  display: block;
}

form{
    width: 95%;
    margin-bottom: 10px;
}

.campo{
    background-color:  #4f206e;
    width: 100%;
    border-radius: 0.8em;
    border: 2px solid #4f206e;
}
}


/*TELAS GRANDES*/

@media screen and (min-width:992px){
body,html,main{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    width: 100vw;
    height: 100vh;
}
    section{
    border-radius: 1em 0em 0em 1em;
    height: 336px;
    width: 500px;
    box-shadow: 0px 0px 12px black;
}
input::placeholder{
    padding-left: 4px;
}
form{
    width: 95%;
    margin-top: 20px;
}
input{
    width: 100%;
}
#entrar,#senha{
    width: 95%;
    margin-top: 5px;
}
#img,img{
    border-radius: 0em 1em 1em 0em;
    height: 337px;
    margin-top: -1.5px;
    width: 500px;
    order: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.774);
}
#both{
   
    width: 100vw;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
main{
    box-shadow: none;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    border: none;
}
p{
    text-align: initial;
    letter-spacing: 0.5px;
}

}